/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
	font-family: 'Zen Dots', cursive;
}

/* Color palet */

:root {
	--color-bg: #0C141C;
	--color-title: #00FFFF;
	--color-text: #618EFF;

	--color-A: #618EFF ;
	--color-B: #615EFF ;
	--color-C: #A351FF ;
	--color-D: #FF83FA ;
}

/* */
html {
	background-color: var(--color-bg);
	color: var(--color-text);
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}