/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');



/* Setup global CSS vars */
:root {
	--color-bg: #0C141C;
	--color-title: #00FFFF;
	--color-text: #618EFF;

	--color-A: #618EFF ;
	--color-B: #615EFF ;
	--color-C: #A351FF ;
	--color-D: #FF83FA ;

	--font-title: 'Zen Dots', cursive;
	--font-texte: 'Nunito', monospace;
}



/* Change default navigator style */
html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}



/* Setup default style */
html {
	font-family: 'Nunito', monospace;
	background-color: var(--color-bg);
	color: white; /*var(--color-text);*/
}

h1, h2, h3,
h4, h5, h6,
strong {
	font-family: var(--font-title);
}